
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, 1fr);   
  gap: 3px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90vh;
  padding: 0 10px;
  transition: grid-template-columns 0.5s ease, grid-template-rows 0.5s ease;
  box-sizing: border-box;
}

.grid-item {
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.project-image {
  width: 100%; /* Ensure image doesn’t overflow */
  max-width: calc(100% - 20px); /* Account for 10px padding on each side */
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  flex-shrink: 0;
  object-position: center;
}

.project-card h3 {
  font-size: 1.5rem;
  /* color: #FF6B82; */
  color: #672c35;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.project-card p {
  font-size: 1rem;
  color: #000;
  line-height: 1.6;
  margin: 0;
}

.grid-item:hover {
  transform: scale(1.2);
  z-index: 10;
}

.grid-item.active {
  transform: scale(1.2);
  z-index: 10;
}

.project-grid:hover .grid-item:not(:hover) {
  transform: scale(0.8);
  opacity: 0.7;
}

.project-grid:has(.grid-item.active) .grid-item:not(.active) {
  transform: scale(0.8);
  opacity: 0.7;
}

@media (max-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    height: auto;
  }
  .grid-item {
    width: 100%;
    height: auto;
  }
  .project-image {
    height: 150px;
  }
} 
